<nav id="menu">
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li><a href="generic">Jugadores</a></li>
		<li><a href="elements">Elements</a></li>
		<li><a href="porteros">Porteros</a></li>
		<li><a href="clubes">Clubes</a></li>
		<li><a href="Historia">Historia</a></li>
	</ul>
</nav>